/*Sets the width of the overall page container div
to 90% of viewport width and margin:auto centers the page
in the middle of the browser no matter how wide you stretch the browser*/

.pagecontainer {
  margin: auto;
  width: 90vw;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header {
  padding: 4rem;
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

li a {
  display: flex;
  color: #000;
  padding: 15px 30px;
  text-decoration: none;
}

li a.active {
  background-color: #555;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/*Unordered list in the navbar is set to display flex with wrapping
so at smaller size-mobile width--it wraps vertically in a row
and at larger screen widths it spreads more horizontally.
And justify-content centers flex blox content*/


article {
  padding-left: 2rem;
  padding-right: 2rem;
}

footer {

  padding: 2rem;
  text-align: center;
}

h1 {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size: 6rem
}

h2 {
  font-family: 'Libre Barcode 128 Text', cursive;
  text-align: center;
  font-size: 3rem
}

h3 {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size: 1rem



.fa-instagram {
  color: white;
  font-size: 2em;
}

.fa-facebook {
  color: white;
  font-size: 2em;
}
